body {
	font-family: 'Open Sans', sans-serif;
}

.top-bar {
	background: #6666FF;
}

.top-bar .name h1 {
	font-family: 'Jolly Lodger', cursive;
    font-weight: lighter;
    font-size: 2em;
    color: #000;
    width: 50%;
    display: block;
    padding: 0 15px; 
}

figcaption {
	font-weight: 400;
}

#breadcrumbs {
    font-family: 'Open Sans', sans-serif;
    color:#CCC;
    max-width: 100%;
}

.panel {
    margin-top: 1.5em;
}

button, .button {
    background-color: #6666FF;
}